<html>
    <head>
        <meta charset="utf-8" />
        <script src="../include/globals.js"></script>
        <link rel="stylesheet" href="./reset.css" />
        <link rel="stylesheet" href="./index.css" />
    </head>
    <body>
        <div id="info">
            <div id="comm-name">
                <img src="./img/Mic.png"/>
                <p class="p1 comm-name"></p>
            </div>
            <div id="player-info">
                <div id="x-logo"></div>
                <div id="content">
                    <p class="p1 twitter player-info-text"></p>
                    <p class="p1 player-info-text pronouns"></p>
                </div>
            </div>    
        </div>
        <script src="index.js"></script>
    </body>
</html>